.profile-element-title {
    color: $main;
    font-size: 30px;
}

.profile-element {
    color: white;
    font-size: 25px;
}

.profile-element-address {
    color: #bfbfbf;
    font-size: 20px;
    margin-bottom: 40px;
}

.candidate {
    color: white;
    font-size: 24px;
}